html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}
/*стили для preform*/
#preform{
    height: 100%;
    width: 100%;
    display: flex;/*при переключении менять на flex*/
    flex-direction: column;
    z-index: 10;
}
#top_panel{
    height: 5%;
    width: 100%;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 2px rgb(184, 178, 178);
}
#cross, #users{
    width: 15%;
    height: 100%;
}
#panel_title{
    font-size: large;
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
}
#pb_logo{
    height: 60%;
    display: flex;
    display: flex;
}
#pb_logo>img{
height: 45%;
width: 100%;
position: relative;
top: 20%;
}
#comment{
    font-size: large;
    height: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#comment1{
    font-size:small;
    display: flex;
    align-items: flex-end;
    height: 4%;
    padding-left: 3%;
    color: rgb(109 157 56);
}
#password{
    height: 4%;
    width: 80%;
    font-size: large;
    border: none;
    border-bottom: solid 2px  rgb(109 157 56);
    padding-left: 3%;
    padding-right: 3%;
    position: relative;
    left: 7%;
}
#list{
    display: flex;
    flex-direction: row;
    height: 5%;
    justify-content: space-evenly;
}
#list>div{
    display: flex;
    align-items: center;
}
#comment2{
    font-size:large;
    display: flex;
    align-items: center;
    height: 10%;
    padding-left: 3%;
    color: rgb(109 157 56);
}
#preform_btn{
height: 6%;
display: flex;
align-items: center;
justify-content: center;
}
#agree{
    width: 94%;
    height: 90%;
    background-color:rgb(109 157 56) ;
    border: none;
    border-radius: 10px;
    font-size: large;
    color: antiquewhite;
}
/*стили для scan*/
#scan{
    height: 100%;
    width: 100%;
    display: none;/*при переключении менять на flex*/
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 100;
}
#scan_block{
    height: 92%;
    width: 100%;
}
#scan_top_panel{
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
#scan_title{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
}
#scan_img{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#scan_img>img{
    width: 60%;
}
#frame{
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 15%;
}
#frame>img{
    height: 80%;
    width: 90%;
    text-align: center;
}
/*блок стилей для камеры*/
video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
}
#scan_btns{
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 68%;
}
#scan_btns>img{
    height: 60%;
    width: 80%;
}
#text1{
    height: 3%;
    text-align: center;
    position: fixed;
    top: 82%;
    left: 7%;
    color: bisque;
}
#text2{
    height: 3%;
    text-align: center;
    position: fixed;
    top: 85%;
    left: 30%;
    color: bisque;
}
#down_panel{
    height: 8%;
}
#down_panel>img{
    height: 100%;
    width: 100%;
    position: relative;
}
/*стили для ticket*/
#ticket{
    width: 100%;
    display: none;/*при переключении менять на flex*/
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 1000;
}
#ticket_top_panel{
    height: 20vw;
    width: 100%;
    display: flex;
    flex-direction: row;
}
#arrow{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#arrow>img{
    height: 60%;
    width: 60%;
}
#ticket_title{
    font-size: 160%;
    font-weight:bolder;
    display: flex;
    align-items: center;
}
#ticket_middle_panel{
    height: 10vw;
    width: 90%;
}
#ticket_middle_panel>img{
    height: 100%;
    width: 100%;
}
#ticket_main{
    height: 130vw;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    position: relative;
}
#ticket_main>img{
    height: 100%;
    width: 100%;
}
.archive{
    height: 130vw;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.archive>img{
    height: 100%;
    width: 100%;
}
#ticket_btn{
    width: 90%;
    height: 8vw;
    background-color:rgb(109 157 56) ;
    border: none;
    border-radius: 10px;
    font-size: large;
    color: antiquewhite;
    position: fixed;
    bottom: 0%;
}
#number{
    z-index: 100;
    position: absolute;
    top: 76vw;
    left: 48%;
    font-size: 6vw;
    color:#4f4f4f;
}
#seria{
    z-index: 100;
    position: absolute;
    top: 24vw;
    left: 38%;
    font-size: 4vw;
    font-weight: 900;
    color:#4f4f4f;
}
#date{
    z-index: 100;
    position: absolute;
    top: 99vw;
    left: 10%;
    font-size: 4vw;
    color:#808080;
}
#time{
    z-index: 100;
    position: absolute;
    top: 99vw;
    left: 42%;
    font-size: 4vw;
    color:#808080;
}
#transport{
    z-index: 100;
    position: absolute;
    top: 84vw;
    left: 42%;
    font-size: 4vw;
    color:#aeaeae;
}
#timer{
    z-index: 100;
    position: absolute;
    top: 113vw;
    left: 42%;
    font-size: 4vw;
    color:rgb(109 157 56);
    font-size: larger;
    font-weight: 900;
}
